.chatedit{
    padding: 1.1rem 1.6rem;
    border-radius: .8rem;
    background-color: #36393f;
    margin-top: 0.5rem;
   &__span{
       display: block;
   }
    &__inputarea{
        display: block;
        background-color: #36393f;
        outline: 0;
        border:0;
        color:#dcddde;
        font-family: 'Whitney-light' , sans-serif;
        font-size: 1.55rem;
        overflow: hidden;
        &::-webkit-resizer {
            display: none;
          }
    }
    
}
.editinstruction{
    &__p{
        padding-left: .2rem;
        font-size: 1.25rem;
        color:hsla(0,0%,100%,.3);
    }
    &__span{
        text-decoration: underline;
        color:#7289da;
        cursor: pointer;
    }
}
