.input__content{
    width: 100%;
    background-color: #fff;
    border:1px solid black;
    font-size: 1.5rem;
    color:#2e3338;;
    padding: .7rem;
    border-radius:.4rem;
    text-indent:.4rem;
    &:focus{
        outline: none;
    }
}
.addmorediv{
    display: flex;
    align-items: center;
}
.Addnewrole{
    &__form{
        width: 100%;
        border:0;
        height: 2.7rem;
        display: flex;
        align-items: center;
        &-back{
            font-size: 1.5rem;
            border:0;
            width:10%;
            padding: 1rem;
            border-radius: .4rem;
            background-color: #f6f6f7;
            cursor: pointer;
            outline: none;
        }
        &-button{
            font-size: 1.5rem;
            background-color: #738ada;
            color:#e9f2fd;
            border:0;
            width:23%;
            padding: 1rem;
            border-radius: .4rem;
            margin-left: auto;
            cursor: pointer;
            outline: none;
        }
    }
}

