.main{
    position: absolute;
    top:0;
    left:7.1rem;
    right:0;
    height: 100vh;
    font-size: 1.5rem;
    overflow: hidden;
    font-family: 'Whitney-semibold', sans-serif;
    &__header{
        display: flex;
        &-sidebar{
            display: flex;
            min-width: 24rem;
            flex:0 0 16.45%;
            height: 4.8rem;
            background-color: #2C2F33;
            color: #fff;
            align-items: center;
            padding: .58rem 1.5rem .58rem 2.25rem;
            font-size: 1.7rem;
            border-bottom: 1px solid #23272a;
        }
        &-currentchannel{
            letter-spacing: .75px;
            margin-right: auto;
            font-family: "Whitney-semibold",sans-serif;
        }
        &-expandicon{
            cursor: pointer;
        }
        &-chatbar{
            flex:1;
        }
        &--chat{
            width: 100%;
            height: 100%;
        }
        
    }
    &__content{
        display: flex;
        height: 93vh;
    }
    
}
