@import '../../../../../../styles/theme.scss';
.chatBox {
  height: calc(100vh - 4.8rem - 7rem);
  grid-column: 1/11;
  flex-direction: column;
  overflow: auto;
  display: flex;
  padding: 0 1rem;
  padding-bottom: 1rem;
  &::-webkit-scrollbar-track {
    @include themed() {
      background-color: t('background-secondary');
    }
    background-clip: content-box;
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    @include themed() {
      background-color: t('background-color-scrollbar');
    }
  }
}
