.chat{
    flex: 0 1 67%;
    background-color: #35383d;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x:hidden;
    &__message{
        flex-direction: column-reverse;
        overflow: auto;
        display: flex;
        padding-bottom: 1rem;
        &::-webkit-scrollbar {
            width: 10px;
          }
        &::-webkit-scrollbar-track {
            background: #2e3338;
            background-clip: content-box;
            }
        &::-webkit-scrollbar-thumb {
            background: #202225;
            height:1rem;
            }          
    }
    &__searchbar{
        margin-top: auto;
    }
}