
.sidebarvoice{
    background-color: #2a2b2f;
    padding: .2rem .1rem 1.5rem .1rem;
    
    &__header{
        display: flex;
        align-items: center;
        padding: 0 1rem .5rem 1rem;
    }
    &__connect{
        color:#43b380;
        margin-right: auto;
        display: flex;
        align-items: center;
        
        &-icon{

        }
        &-connected{
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__disconnect{
        color:#babbbf;

    }
    &__stream{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        &-video{
            display: flex;
            align-items: center;
        }
        &-screen{
            display: flex;
            align-items: center;
        }
        }
    }
