.input{
    width: 100%;
    background-color: #212226;
    border:0;
    font-size: 1.5rem;
    color:#b6b7bb;
    padding: .7rem;
    border-radius:.4rem;
    text-indent:.4rem;
    &:focus{
        outline: none;
    }
}
.form{
    width: 100%;
    border:0;
    height: 2.7rem;
    display: flex;
    &__button{
        font-size: 1.5rem;
        background-color: #738ada;
        color:#e9f2fd;
        flex: 1;
        border:0;
        height: 100%;
        border-radius: .4rem;
        margin:auto;
    }
}
