.chatsearchbar__reply{
    margin: 0 1.9%;
    background-color: #2f3136;
    border-radius: .7rem .7rem 0 0;
    padding: .4rem 1.3rem;
    color:#b3b1b4;
    font-family: 'Whitney-light' , sans-serif;
    display: flex;
    align-items: center;
    &-text{
        margin-right: auto;
    }
}

.chatsearchbar{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    overflow: hidden;
    padding: 0 2rem 1rem 2rem;
    &__addicon{
        background-color: #40454b;
        border-radius: 0 0 0 .7rem;
    }
    &__input{
        flex:1;        
        margin-right: -14%;
        &-text{
            display:inline-block;
            color:#fff;
            border:0;
            width: 100%;
            padding: 1.2rem 1rem;
            line-height: 1rem;
            background-color: #40454b;
            border-radius: 0 0 .7rem 0;
            caret-color: #babdc2;
           &::-webkit-input-placeholder{
               color:#72777d;
               font-size: 1.5rem;
           }
           &:focus{
               outline: none;
           }
        }
    }


}
.emojipicker{
    position: absolute;
    bottom:230%;
    right:2.1%;
}
.upload{
    position: absolute;
    bottom:90%;
    left:2%;
}