.chatmessage{

    &__header{
        display: flex;
        &-photo{
            padding: 1.2rem;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        &-header{
            display: flex;
            align-items: center;
            padding-top: 1rem;
        }
        &-name{
            color:#d9dde0;
            margin-right: 1rem;
            font-size: 1.6rem;
        }
        &-date{
            color:#717479;
            font-size: 1.25rem;
        }
    }
    &__message{
        color:#dce0e3;
        font-family: 'Whitney Light', sans-serif;
        letter-spacing: .02rem;
        word-spacing: .02rem;
        padding-top: .5rem;
        padding-right: 1rem;
    }
}