.chatmessage{
    margin-top: 1.7rem;  //27/04/21
    &__main{
        padding-left: 1rem;
        &:hover{
            background-color: rgba(4,4,5,0.07);
        }
        &--replied{
            padding-bottom: .2rem;
        }
        &--edit{
            background-color: rgba(4,4,5,0.07);
        }
    }
    &__replycontent{
        display: flex;
        padding-left: 2.3rem;
        &--replyimage{
            // padding: .45rem .2rem 1.2rem 1.2rem;
            width:5rem;
            padding-top: .5rem;
            margin-right: .2rem;
        }
        &--content{
            color:#aaafae;
            font-family: 'Whitney-light' , sans-serif;
        }
    }
    &__header{
        display: flex;
        &-photo{
            // padding: 1.2rem;
            padding: .6rem 1.2rem; //27/04/21
            &--replied{
                padding: .4rem 1.2rem 1.2rem 1.2rem;
            }
            &--replyimage{
                padding-left: .9rem;
                width:5rem;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        &-header{
            display: flex;
            align-items: center;
            // padding-top: 1rem;
            padding-top: .4rem; //27/04/21
            width: 100%;
            position: relative;
        }
        &-name{
            color:#fff;
            margin-right: 1rem;
            font-size: 1.6rem;
        }
        &-admin{
            color:#e74c3c;
        }
        &-date{
            color:#717479;
            font-size: 1.25rem;
            margin-right: auto;
            
        }
    }
    &__message{
        color:#d9dde0;
        font-family: 'Whitney-light', sans-serif;
        font-size: 1.55rem;
        letter-spacing: .02rem;
        word-spacing: .02rem;
        padding-top: .5rem;
        padding-right: 1rem;
        white-space: pre-wrap;
        line-height: 2.2rem;
    }
}
.chatmessage__content-menu{
    margin-right: 3%;
    position: absolute;
    &-normal{
    top:-71%;
    right:1.5%;
    }
}
.chatmessage__content-menu--replied{
    top:-160%;
    right:1.5%;
}
.linkify__text{
   color:#00b0f4;
}
////////////////////////////////// render video
.rendervideo{
    padding-top: 0.25%;
    margin-bottom: .3rem;
    &__videocontainer{
        width: 42.5rem;
        padding: 1rem;
        margin-left: .4rem;
        background-color: #2f3136;
        border-radius: 3px;
        position: relative;
        &::before{
            content:"";
            width:.4rem;
            height: 100%;
            background-color: red;
            position: absolute;
            top:0;
            left:-.4rem;
            border-radius:3px 0 0 3px;
        }
        &-providerlink{
            font-size: 1.25rem;
            letter-spacing: .08rem;
            &:link,&:visited{
            color:#b9bbbe;
            text-decoration: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &-authorurl{
            font-size: 1.4rem;
            font-family: "Whitney-semibold";
            &:link,&:visited{
            color:#fff;
            text-decoration: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &-providername{
            margin-top: .3rem;
        }
        &-authorname{
            margin: .5rem 0;
        }
        &-titlename{
            margin-bottom: 1rem;
        }
        &-title{
            font-size: 1.65rem;
            font-family: "Whitney-semibold";
            &:link,&:visited{
            color:#00b0f4;
            text-decoration: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__video{
        width: 40rem;
        height: 22.5rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-image{
            width: 100%;
            height: 100%;
            img{
            margin: -10% 0;
            max-width: 100%;
            }
        }
        &-container{
            display: flex;
            z-index: 100;
            position: absolute;
            color:#dcddde;
            padding: 1rem 2rem;
            background-color: rgba(0,0,0,.6);
            border-radius: 5rem;
        }
        &-openurl,&-load{
            &:link,&:visited{
                color:currentColor;
                text-decoration: none;
            }
            &:hover{
                color:#fff;
            }
        }
        svg{
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    
}
//////////////////////////////////// render audio
.renderaudio{
    &__name{
        padding-bottom: 1rem;
    }

    &__mainplayer{
        display: flex;
        align-items: center;
    }
    &__player{
        padding: .5rem 1rem 1rem 0;
        &-size{
            font-size: 1rem;
        }
        &-music{
            display: block;
            outline: none;
            border: none;
        }
    }
}
