.chatmessage{
    &__main{
        padding-left: 1rem;
        &:hover{
            background-color: #32353b;
        }
        &--replied{
            padding-top: .7rem;
            padding-bottom: 2rem;
        }
    }
    &__header{
        display: flex;
        &-photo{
            padding: 1.2rem;
            &--replied{
                padding: 2.5rem 1.2rem 1.2rem 1.2rem;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        &-reply{
            color:#aaafae;
            font-family: 'Whitney-light' , sans-serif;
        }
        &-header{
            display: flex;
            align-items: center;
            padding-top: 1rem;
            width: 100%;
            position: relative;
        }
        &-name{
            color:#d9dde0;
            margin-right: 1rem;
            font-size: 1.6rem;
        }
        &-date{
            color:#717479;
            font-size: 1.25rem;
            margin-right: auto;
            
        }
        &-menu{
            // align-self: center;
        }
    }
    &__message{
        color:#d9dde0;
        font-family: 'Whitney-light', sans-serif;
        letter-spacing: .02rem;
        word-spacing: .02rem;
        padding-top: .5rem;
        padding-right: 1rem;
        white-space: pre-wrap;
    }
}
.chatmessgae__content-menu{
    margin-right: 3%;
    position: absolute;
    left: 90%;
    top:0%;
}