.sidebarchannel{
    padding: 0 .8rem;
    font-size: 1.75rem;
    cursor: pointer;
    &__hash{
        display: inline-block;
        padding: 0 1rem;
        font-size: 2.2rem;
        color: #72767d;
    }
    &__content{
        margin-bottom: .2rem;
        padding-top:.45rem;
        padding-bottom: .45rem;
        font-size: 1.6rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        &:hover{
            background-color: rgba(79,84,92,0.17);
            border-radius: .5rem;
            color:#e6e8e8;

        }
    }
}
.clicked{
    // background-color: #40454b;
    background-color: rgba(79,84,92,0.32);
    color:#e6e8e8;
}