html {
    height: 100%;
    font-size: 10px;
  }
  body {
    min-height: 100%;
  }
  body > #root > div {
    height: 100vh;
  }
  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Whitney-semibold';
    src: local('Whitney-semibold'), url(./fonts/whitneysemibold.otf);
  }
  @font-face {
    font-family: 'Whitney-light';
    src: local('Whitney-light'), url(./fonts/whitneylight.otf);
  }
  