html {
    height: 100%;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0px;
    min-height: 100%;
  }
  body > #root > div {
    height: 100vh;
  }
 
  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Whitney-semibold';
    src: local('Whitney-semibold'), url(./fonts/whitneysemibold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Whitney-light';
    src: local('Whitney-light'), url(./fonts/whitneylight.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Whitney-bold';
    src: local('Whitney-bold'), url(./fonts/whitneybold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Whitney-medium';
    src: local('Whitney-medium'), url(./fonts/whitneymedium.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'UniSansRegular';
    src: local('UniSansRegular'), url(./fonts/UniSansRegular.otf);
    font-display: swap;
  }
 
