.chatreply{
    display: flex;
    align-items: center;
    &__sender{
        &-admin{
            color:rgb(231, 76, 60);
        }
    }
    &__message{
        margin-left: .8rem;
        &-photo{
            width: 2rem;
        }
    }
}
